<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PlatziSquare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active"> <!-- Lo que le paso a routerLinkactive es el nombre de la clase que le queremos agregar cuando este link (ó ruta) este activ@ -->
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0" *ngIf="!loggedIn">
        <div>
          <a routerLink="/login">Login</a>
        </div>
        <div>
          <a routerLink="/registro">Registro</a>
        </div>
    </div>

        <div *ngIf="loggedIn">
          <a (click)="logout()">LogOut</a>
        </div>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>


<!--
<h2>All People</h2>
<ul>
  <ng-container *ngFor="let persona of personas; let i = index;" [ngSwitch]="persona.cercania ">
      <a >
        <li contar-clicks [ngStyle]="{color: (persona.active) ? 'blue' : 'gray'}" [ngClass]="{numero_par: (i+1)%2 !== 0}" [resaltar]="persona.plan">
            {{persona.nombre}} - 
            <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Cercano</span>
            <span *ngSwitchCase="2" [ngStyle]="{color: 'yellow'}">Muy Cercano</span>
            <span *ngSwitchCase="3" [ngStyle]="{color: 'blue'}">Lejano</span>
        </li>
      </a>
    </ng-container>
</ul>
-->

<router-outlet></router-outlet>